body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.snowman {
  width: 50vw;
  height: 50vh;
  margin: 0;
}
ul {
  display: flex;
  justify-content: center;
}
.word li {
  list-style: none;
  font-size: 10vw;
  margin: 0 3vw 0 3vw;
}
.letters li {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0.6vw;
  font-size: 3vw;
  border: 0.3vw solid lightblue;
  color: darkblue;
  cursor: pointer;
}
